/cmake-build-debug/Laba1.exe
/cmake-build-debug/main.cpp.obj
/cmake-build-debug/CMakeFiles
cmake-build-debug/Laba1.exe
cmake-build-debug/CMakeFiles/Laba1.dir/objects.a
cmake-build-debug/CMakeFiles/Laba1.dir/main.cpp.obj
